<html>
   <head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		 <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
	var ansible_message=""
        $(document).ready(function() {
            var socket = io.connect("http://127.0.0.1:5000/");
            // This will be called by server.
            // Anonymous function will be executed and span with id "view" will be updated
            socket.on('my_response', function(msg) {
		console.log(msg.data)
		ansible_message.concat(msg.data+"\n")
                $('#view').html(function(i,origText){
			return origText+"<br/>"+msg.data+"<br/>";	
		});

            });
        });
    </script>
  </head>			
   <body>
	<div class="w3-bar w3-black">
	 	<a href="{{url_for('changeFile')}}" class="w3-bar-item w3-button">Change Files</a>
		<a href="{{url_for('logout')}}" class="w3-bar-item w3-button">Logout</a>
	</div><br>
		<p>
		<ul>
			{%- for line in history %}
			<li>{{ line }}</li>
			{%- endfor %}
		</ul>
		</p>   
	<p><span id="view"></span></p>
   </body>
</html>
